/* Derek */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  background-image: url(../images/Fondo1.png);
  color: #edf2fa;
}

.container {
  width: 100%;
  max-width: 80%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

/* Nav */

.hero {
  width: 100%;
  min-height: 90px;
  max-height: 300px;
  position: fixed;
  display: grid;
  z-index: 9999;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  background-color: #d7e3fc;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.logo__nav {
  display: grid;
  grid-auto-flow: column;
  vertical-align: middle;
  align-items: center;
}

.logo__img {
  width: 80px;
}

.title {
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  color: #7ca3ff;
}

.buttons__nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  vertical-align: middle;
}

.btn__nav {
  list-style: none;
  text-align: center;
  font-weight: 300;
  padding: 20px;
  background-color: #7ca3ff;
  border-radius: 30px;
}

.btn {
  color: #edf2fa;
  font-size: large;
  text-transform: uppercase;
  text-decoration: none;
}

.login__change{
  display: block;
}

/* Main */

.resume {
  margin-top: 12%;
  display: grid;
  grid-template-columns: 55% 1fr;
}

.resume__title__text {
  font-weight: 200;
  font-size: 35px;
}

.resume__title {
  color: #7ca3ff;
  padding-bottom: 20px;
}

.resume__about {
  vertical-align: middle;
}

.resume__text {
  color: #7ca3ff;
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  padding-right: 80px;
}


.home__pic{
  overflow: hidden;
}

.home__pic img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.home__pic img:hover{
  transform: scale(1.2);
}

/*About Us*/

.about__us{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 55% 1fr;
}

.us__title h1{
  color: #7ca3ff;
  font-weight: 200;
  font-size: 35px;
}

.us__title:first-child{
  padding-top: 5%;
}

.about__us__text p{
  color: #7ca3ff;
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  padding-right: 80px;
}

.about__us__picture{
  overflow: hidden;
  margin-top: 20%;
  margin-bottom: 30%;
  
}

.about__us__picture img{
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.about__us__picture img:hover{
  transform: scale(1.2);
}

/*Login*/

.Login__Form {
  margin: auto;
  margin-top: 15%;
  width: 400px;
  padding: 30px;
  display: grid;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #7ca3ff;
}
.Login__Form h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #7ca3ff;
}

.controls-login {
  align-items: center;
  width: 98%;
  background: #edf2fa;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #7ca3ff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #7ca3ff;
}

.Login__Form button {
  width: 100%;
  background: #7ca3ff;
  border: #7ca3ff;
  border-radius: 5px;
  padding: 15px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
}
.Login__Form button:hover {
  background-color: rgb(76, 117, 212);
}
.create__account {
  margin-left: 15%;
  display: inline-block;
  font-size: 15px;
}
.create__account h1 {
  display: inline-block;
  color: #7ca3ff;
  font-size: 15px;
  padding-right: 40px;
}
.go__register {
  font-size: 15px;
}
.go__register:hover {
  color: rgb(76, 117, 212);
}

/*Create account*/
.form-register {
  margin: auto;
  margin-top: 15%;
  width: 400px;
  padding: 30px;
  display: grid;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #7ca3ff;
}

.form-register h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #7ca3ff;
}

.controls-form-register {
  align-items: center;
  width: 98%;
  background: #edf2fa;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #7ca3ff;
  font-size: 18px;
  color: #7ca3ff;
}

.botons-form-register {
  width: 100%;
  background: #7ca3ff;
  border: #7ca3ff;
  border-radius: 5px;
  padding: 15px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
}

.botons-form-register:hover {
  background-color: rgb(76, 117, 212);
}

/*Pay method*/
.pay-method {
  width: 400px;
  background: 7ca3ff;
  padding: 200px;
  margin: auto;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #7ca3ff;
}

.pay-method h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #7ca3ff;
}

.controls-pay-method {
  align-items: center;
  width: 100%;
  background: #edf2fa;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #7ca3ff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #7ca3ff;
}

.pay-method p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.pay-method a {
  color: #7ca3ff;
  text-decoration: none;
}

.pay-method a:hover {
  color: blueviolet;
  text-decoration: none;
}

.botons-pay-method {
  width: 100%;
  background: #7ca3ff;
  border: none;
  padding: 15px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.botons-pay-method:hover {
  background-color: rgb(76, 117, 212);
}

::placeholder {
  color: #7ca3ff;
}

/*Delivery*/
.delivery {
  width: 400px;
  background: 7ca3ff;
  padding: 200px;
  margin: auto;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #7ca3ff;
}

.delivery h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #7ca3ff;
}

.controls-delivery {
  align-items: center;
  width: 100%;
  background: #edf2fa;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #7ca3ff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #7ca3ff;
}

.delivery p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.delivery a {
  color: #7ca3ff;
  text-decoration: none;
}

.delivery a:hover {
  color: blueviolet;
  text-decoration: none;
}

.botons-delivery {
  width: 100%;
  background: #7ca3ff;
  border: none;
  padding: 15px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: #7ca3ff;
}

/*Emily*/
.form-backgroud {
  margin-top: 200px;
  margin-left: 225px;
  display: grid;
  grid-auto-flow: column;
  font-size: 90%;
  padding: 30px;
  border-radius: 15px;
  color: whitesmoke;
  box-shadow: 7px 13px 37px #7ca3ff;
}
.contact__main{
  position: relative;
  margin-top: 50px;
}

.contact__pics img {
  width: 100%;
  height: 400px;
}

/*MyInfo*/
.MyInfo__Form {
  width: 1000px;
  height: 600px;
  background: 7ca3ff;
  padding: 200px;
  margin: auto;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: #7ca3ff;
  box-shadow: 7px 13px 37px #7ca3ff;
  text-align: left;
}
.MyInfo__Form h4 {
  text-align: left;
  font-size: 22px;
  margin-bottom: 20px;
  color: #7ca3ff;
}

.changes__list {
  margin-left: 15%;
  display: inline-block;
  font-size: 15px;
}
.changes h1 {
  display: inline-block;
  color: #7ca3ff;
  font-size: 15px;
  padding-right: 40px;
  text-align: left;
}
.go__change {
  font-size: 15px;
  text-align: left;
}
.go__change:hover {
  color: rgb(76, 117, 212);
  text-align: left;
}

/* Footer */

.hero__down {
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Footer {
  background-color: #d7e3fc;
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.Networks_icons {
  width: 50%;
}
.Social__networks {
  width: 20%;
  display: grid;
  grid-auto-flow: column;
  padding: 20px;
  margin: 0 auto;
}
.icons {
  list-style: none;
  margin: 0 auto;
}
.net__icon {
  width: 50px;
  vertical-align: middle;
}
